@model plkjStaffWebsite.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "更改密码";
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>培洛科技</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="https://www.baidu.com/s" target="_blank" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="wd" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active">
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i> <span>首页</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Contact","Home")">
                    <i class="fa fa-th"></i> <span>下载中心</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Data")">
                    <i class="fa fa-pie-chart"></i> <span>每日数据</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-laptop"></i> <span>注册账号</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("About", "Home")">
                    <i class="fa fa-edit"></i> <span>幸运抽奖</span>
                </a>
            </li>
            <li>
                <a href="http://www.pl-kj.com/excel.htm">
                    <i class="fa fa-calendar"></i> <span>排班表</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "zq_CustomerTable")">
                    <i class="fa fa-table"></i> <span>客户表</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "InformTable")">
                    <i class="fa fa-table"></i> <span>通知公告</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Editor", "Home")">
                    <i class="fa fa-circle-o"></i> <span>编辑器</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">


        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">修改密码</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-6">
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @*<h4>更改密码表单</h4>*@
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="更改密码" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->