@model plkjStaffWebsite.Models.zq_CustomerTable

@{
    ViewBag.Title = "添加";
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>培洛科技</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="https://www.baidu.com/s" target="_blank" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="wd" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i> <span>首页</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Contact","Home")">
                    <i class="fa fa-th"></i> <span>下载中心</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Data")">
                    <i class="fa fa-pie-chart"></i> <span>每日数据</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-laptop"></i> <span>注册账号</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("About", "Home")">
                    <i class="fa fa-edit"></i> <span>幸运抽奖</span>
                </a>
            </li>
            <li>
                <a href="http://www.pl-kj.com/excel.htm">
                    <i class="fa fa-calendar"></i> <span>排班表</span>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "zq_CustomerTable")">
                    <i class="fa fa-table"></i> <span>客户表</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "InformTable")">
                    <i class="fa fa-table"></i> <span>通知公告</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Editor", "Home")">
                    <i class="fa fa-circle-o"></i> <span>编辑器</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            客户表

            <small>官网填写</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">客户表</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="col-md-6">
                            
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.customerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.customerName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.customerName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.customerPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.customerPhone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.customerPhone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.customerMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.customerMessage, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.customerMessage, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="添加" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("回到总览", "Index")
                            </div>

                        </div>


                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
